/* ---Nav------------------------------------------------------------- */

.contenedorNav{
    width: 100%;
}
.subContenedorNav{
    width: 100%;
}
.navA {
    background-color: var(colorPrincipal);
    color: var(colorSecundario);
    border: 2px outset var(colorSecundario);
    width: auto;
    text-decoration: none;
    padding: 10px 10px;
    text-align: center; 
    margin-right: 0.874%;  
    }
