@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* - ---------ESTILO GENERAL-------------------------------------------- - */

:root{
    --color:#A5B9E6;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #293A61;;
    background-color: #d9e4f5;
    height: 100vh;
    background-image: url(img/img.jpeg);
    --color:#A5B9E6;
}



/* - ---Logo--- ---------------------------------------------------------- */

.logo{
    width: 140px;
    height: 140px;
    border:solid 1px black;
    border-radius: 50%;
}

/* - ---Nav------------------------------------------------------------- - */

.contenedorNav{
    width: 100%;
}

.subContenedorNav{
    width: 100%;
}

.spanNav{
    margin-right: .7%;
    width: 152px;
}
 .navA {
    background-color: #464E61;
    color: var(--color);
    border: 2px outset var(--color);
    width: auto;
    text-decoration: none;
    padding: 10px 10px;
    text-align: center; 
    margin-right: 0.874%;  
}

/* - ---Título--------------------------------------------------------- - 
*/
h1{
    font-size: 68px;
    text-shadow: -4px 2px 0px rgb(0, 0, 0);
    color: var(--color);
}

.tarjetaCarrusel{
    margin-left: 25%;
}
/*
- ---Footer -----------------------------------------------------------------*/
footer {
    border-top: solid 2px var(--color);
    height: 263px;
}

.linkFooter{
    font-size: 16px;
    font-weight: normal;
}

.linkFooter:hover{
    transition: font-size .5s;
    font-size: 21px;
}


/*---- Link Redes --------------------------*/

.linkRedes{
    width: 32px;
    height: 32px;
}

.linkRedes:hover{
    transition: width .5s, height .5s;
    width: 50px;
    height: 50px;
}

.descripcion{
    margin-top: 7%;
}
/*- --ESTILO INDEX -

- ---Sección2Index--------------------------------------------------------------- -*/

.tituloSeccion2{
    font-style: italic;
    font-size: 35px;
    text-shadow: -4px 2px 0px rgb(0, 0, 0);
}


/*- Imágenes de seccion2Index -*/

.imagen2{
    width: 95%;
    height: 450px;
}


/*- ---ESTRUCTURA TABLET--- -

   /*- ---INDEX-Estructura-Tablet---------------------------------------*/

 @media (min-width: 482px) and (max-width:1023px){ 

   .titulo{
        font-size: 59px;
    }  

    h1{
        font-size: 59px;
    }
}
   

/*- ---ESTRUCTURA SMARTPHONE--- -*/

   /*- ---INDEX-Estructura-Smartphone--------------------------------------- */

@media (max-width: 481px){ 
   .titulo{
        font-size: 5vh;
        margin-top: 10px;
        margin-bottom: 20px;
    }  
    h1{
        font-size: 5vh;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

   
   
/*---ESTILO CONTACTO-----------*/

/*--- Sección 1 Contacto -----------*/
.seccion1Contacto{
    border: solid 2px black;
    width: 350px;
    height: 150px;
    font-size: 20px;
    margin: 40px auto 5% auto;
    color: var(--color);
}
